.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.horizontal {
    flex-direction: row;
    justify-content: center; /* Centruoja horizontaliai */
    align-items: center; /* Centruoja vertikaliai */
    width: 100%; // Pradinis pilnas plotis mažesniems ekranams
    height: auto; // Pradinis aukštis

    // Labai maži ekranai (iki 480px pločio)
    @media (max-width: 1280px) {
        width: 95%;
        height: 600px;
    }

    // Maži ekranai (480px - 768px)
    @media (min-width: 481px) and (max-width: 1768px) {
        width: 95%;
        height: 700px;
    }

    // Vidutinio dydžio ekranai (768px - 1024px)
    @media (min-width: 769px) and (max-width: 1224px) {
        width: 65%;
        height: 800px;
    }

    // Dideli ekranai (1024px+)
    @media (min-width: 1624px) {
        width: 1200px;
        height: auto;
    }
}

.vertical {
    flex-direction: column;
    height: auto; // Pradinis aukštis

    // Labai maži ekranai (iki 480px pločio)
    @media (max-width: 480px) {
        height: 600px;
        width: 95%;
    }

    // Maži ekranai (480px - 768px)
    @media (min-width: 481px) and (max-width: 768px) {
        height: 700px;
        width: 90%;
    }

    // Vidutinio dydžio ekranai (768px - 1024px)
    @media (min-width: 769px) and (max-width: 1224px) {
        height: 80vh;
        width: 80%;
    }

    // Dideli ekranai (1024px+)
    @media (min-width: 1024px) {
        height: 1000px;
        width: 100%;
    }
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.cardImage {
    inline-size: 100%;
    block-size: 180px;
    object-fit: cover;
}

.infoContainer {
    padding: 15px;
    inline-size: 100%;
}

.chip {
    background-color: #f0f0f0;
    color: #333;
    font-size: 0.8rem;
    padding: 5px 10px;
    border-radius: 20px;
    margin-block-end: 10px;
    display: inline-block;
}

.cardTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 5px 0;
}

.contactPerson {
    color: #666;
    font-size: 0.9rem;
    margin-block-end: 5px;
}

.address {
    color: #888;
    font-size: 0.9rem;
    margin-block-end: 15px;
}

.button {
    background-color: #947ece;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #7a5bbf;
}